button.active.custom-btn {
  background: #970a29;
  color: #fff;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 15px;
  margin: 15px 0;
  width: 100%;
  text-align: center;
}
button.active.custom-btn.tow{
  color: #000;
  background-color: antiquewhite;
}
.inputData{
  padding: 10px 20px;
  background-color: white;
    border: 1px solid #F5E6E9;
    border-radius: 21px;
    width: 100%;
    margin-bottom: 16px;
}
.inputData::placeholder{
  color: #000;
}
