<form action="" class="" [formGroup]="callUsForm" (ngSubmit)="submit()">
    <div class="row mt-24">
        <h2 class="head">{{'Navbar.call_us' | translate}}</h2>
        <div class="col-sm-12 col-md-4">
            <!-- full_name is required -->
            <label class="errorLabel opacity-0" [ngClass]="{'!opacity-100':
        this.callUsForm.get('full_name')?.touched && this.callUsForm.get('full_name')?.hasError('required') }">
                !full_name is required
            </label>
            <!-- full_name input -->
            <input type="text" formControlName="full_name" class="inputData"
                placeholder="{{'callus.fullname' | translate}}" [ngClass]="{'!border-red-600':
        this.callUsForm.get('full_name')?.touched && this.callUsForm.get('full_name')?.hasError('required') }">
            <!-- email validation -->
            <div class="flex justify-between mb-1">

                <!-- email is required -->
                <label class="errorLabel opacity-0" [ngClass]="{'!opacity-100':
this.callUsForm.get('email')?.touched && this.callUsForm.get('email')?.hasError('required') }">
                    !email is required
                </label>

                <!-- must be valid email -->
                <label class="errorLabel"
                    *ngIf="this.callUsForm.get('email')?.touched && this.callUsForm.get('email')?.hasError('email')">
                    !must be valid email
                </label>
            </div>
            <!-- email input -->
            <input type="text" formControlName="email" class="inputData" placeholder="{{'callus.email' | translate}}"
                [ngClass]="{'!border-red-600':
this.callUsForm.get('email')?.touched && this.callUsForm.get('email')?.hasError('required')
|| (this.callUsForm.get('email')?.touched && this.callUsForm.get('email')?.hasError('email')) }">
            <!-- phone validation -->
            <div class="flex justify-between mb-1">

                <!-- phone is required -->
                <label class="errorLabel opacity-0" [ngClass]="{'!opacity-100':
this.callUsForm.get('phone')?.touched && this.callUsForm.get('phone')?.hasError('required') }">
                    !phone is required
                </label>
            </div>
            <!-- phone input -->
            <input type="text" formControlName="phone" class="inputData"
                placeholder="{{'callus.phonenumber' | translate}}" [ngClass]="{'!border-red-600':
this.callUsForm.get('phone')?.touched && this.callUsForm.get('phone')?.hasError('required') }"
                (input)="onInput($event)">
            <!-- msg_title is required -->
            <label class="errorLabel opacity-0" [ngClass]="{'!opacity-100':
     this.callUsForm.get('msg_title')?.touched && this.callUsForm.get('msg_title')?.hasError('required') }">

                !msg_title is required
            </label>
            <input type="text" formControlName="msg_title" class="inputData"
                placeholder="{{'callus.title' | translate}}" [ngClass]="{'!border-red-600':
          this.callUsForm.get('msg_title')?.touched && this.callUsForm.get('msg_title')?.hasError('required') }">

        </div>
        <div class="col-sm-12 col-md-4">
            <!-- msg_content is required -->
            <label class="errorLabel opacity-0" [ngClass]="{'!opacity-100':
     this.callUsForm.get('msg_content')?.touched && this.callUsForm.get('msg_content')?.hasError('required') }">
                !message content is required
            </label>
            <!-- msg_content input -->
            <textarea type="text" formControlName="msg_content" class="inputData h-[92%] "
                placeholder="{{'callus.content' | translate}}"
                [ngClass]="{'!border-red-600':
        this.callUsForm.get('msg_content')?.touched && this.callUsForm.get('msg_content')?.hasError('required') }"></textarea>
        </div>
        <div class="col-sm-12 col-md-4 callus">
            <button class="active custom-btn" type="submit">{{'callus.send' | translate}}</button>
            <div class="">
                <div class="flex call">
                    <img src="../../../assets/images/circle-phone-flip@2x.png" alt="">
                    <p> 07837006604 - 07837006610</p>
                </div>
                <div class="flex call">
                    <img src="../../../assets/images/at-2@2x.png" alt="">
                    <p>sales@alfaihascientific.com</p>
                </div>
                <div class="flex call">
                    <img src="../../../assets/images/marker@2x.png" alt="">
                    <p> {{'footer.callUs.place' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>