<section>
    <div class="sub-h2">
        <div class="addresses">
            <img class="icon-logo" src="../../../assets/images/Group 19@2x.png" alt="">
            <h2>{{'news.h1' | translate}}
            </h2>
        </div>
        <div class="more">
            <h3>
                {{'More.h2' | translate}}
            </h3>
            <div class="red_circle" (click)="navigateToBloges()">
                <i class="fas fa-chevron-left" [ngClass]="{'block': isLeft ,'hidden': !isLeft }"></i>
                <i class="fas fa-chevron-right" [ngClass]="{'block': !isLeft ,'hidden':isLeft }"></i>
            </div>
        </div>
    </div>

    <!-- carsoul -->
    <div class="" dir="ltr">
        <div slickContainer #slickController="slick" [slickConfig]="news">
            <ng-container *ngIf="slickController.initialize">
                <ng-container *ngFor="let blog of blogs">
                    <!-- card -->
                    <div slickItem class="card">
                        <div class="card-img">
                            <img class="card-img-top" src="{{ url }}/{{ blog.image }}">
                        </div>
                        <div class="card-body">
                            <a routerLink="/bolgs/{{ blog.id }}">
                                <h5 class="card-title">{{ blog.name }}</h5>
                            </a>
                            <p class="card-text">{{ blog.content }}</p>
                        </div>
                    </div>
                </ng-container>
                <!-- <img slickItem *ngFor="let item of getArray(arrayLength); let index = index" src="https://placeholder.pics/svg/400/DEDEDE/555555/{{ index + 1 }}" class="p-10"> -->
            </ng-container>
        </div>
    </div>

</section>