<section>
    <div class="sub-h2">
        <img class="icon-logo" src="../../../../assets/Group 19@2x.png" alt="">
        <h2>اخبار علوم الفيحاء</h2>
    </div>
    <!-- carsoul -->
    <div class="" dir="ltr">
        <div slickContainer #slickController="slick" [slickConfig]="news">
            <ng-container *ngIf="slickController.initialize">
                <!-- card -->
                <div slickItem class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../../assets/Rectangle 36@2x.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">جهاز فحص السكر المنزلي</h5>
                        <p class="card-text">وصف جهاز فحص السكر المنزلي وصف جهاز فحص السكر المنزلي وصف جهاز فحص السكر
                            المنزلي وصف جهاز فحص السكر المنزل</p>
                    </div>
                </div>
                <!-- card -->
                <div slickItem class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../../assets/Rectangle 38@2x.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">جهاز مخبري SC120694</h5>
                        <p class="card-text">وصف جهاز مخبري SC120694 وصف جهاز مخبري SC120694 وصف جهاز مخبري SC120694 وصف
                            جهاز مخبري SC120694 وصف جهاز مخبري SC120694</p>
                    </div>
                </div>
                <!-- card -->
                <div slickItem class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../../assets/Rectangle 36@2x.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">جهاز فحص السكر المنزلي</h5>
                        <p class="card-text">وصف جهاز فحص السكر المنزلي وصف جهاز فحص السكر المنزلي وصف جهاز فحص السكر
                            المنزلي وصف جهاز فحص السكر المنزل</p>
                    </div>
                </div>
                <!-- card -->
                <div slickItem class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../../assets/Rectangle 38@2x.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">جهاز مخبري SC120694</h5>
                        <p class="card-text">وصف جهاز مخبري SC120694 وصف جهاز مخبري SC120694 وصف جهاز مخبري SC120694 وصف
                            جهاز مخبري SC120694 وصف جهاز مخبري SC120694</p>
                    </div>
                </div>
                <!-- card -->
                <div slickItem class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../../assets/Rectangle 36@2x.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">جهاز فحص السكر المنزلي</h5>
                        <p class="card-text">وصف جهاز فحص السكر المنزلي وصف جهاز فحص السكر المنزلي وصف جهاز فحص السكر
                            المنزلي وصف جهاز فحص السكر المنزل</p>
                    </div>
                </div>
                <!-- card -->
                <div slickItem class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../../assets/Rectangle 38@2x.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">جهاز مخبري SC120694</h5>
                        <p class="card-text">وصف جهاز مخبري SC120694 وصف جهاز مخبري SC120694 وصف جهاز مخبري SC120694 وصف
                            جهاز مخبري SC120694 وصف جهاز مخبري SC120694</p>
                    </div>
                </div>
                <!-- <img slickItem *ngFor="let item of getArray(arrayLength); let index = index" src="https://placeholder.pics/svg/400/DEDEDE/555555/{{ index + 1 }}" class="p-10"> -->
            </ng-container>
        </div>
    </div>

</section>