<section>
  <div class="row">
    <div class="col-md-6">

      <div class="container" dir="ltr">
        <div slickContainer #slickController="slick" [slickConfig]="images">
          <div *ngIf="slickController.initialize">
            <ng-container *ngFor="let image of product.images">
              <div slickItem class="slickItem">
                <img src="{{ url }}/{{ image.image }}" class="img-fluid">
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">

      <h2 class="product-title">{{ product.name }}</h2>
      <h3 class="product-title">catigory number :{{ product.catnumber}} </h3>
      <p class="product-body">{{ product.content}}</p>
      <p class="product-title">brand :{{ product.brand}}</p>
      <p class="product-title">country :{{ product.country}}</p>

      <button class="active custom-btn" (click)="addToCart(product.id)" type="text">{{'single_product.add_to_cart' |
        translate}} </button>
    </div>
  </div>
</section>
<section class="">
  <div class="sub-h2">
    <div class="addresses">
      <img class="icon-logo" src="../../../assets/images/Group 19@2x.png" alt="">
      <h2>منتجات متشابه</h2>
    </div>
    <div class="more">
      <h3>
        {{'More.h2' | translate}}
      </h3>
      <div class="red_circle" (click)="navigateToProducts()">
        <i class="fas fa-chevron-left"></i>
        <!-- <i class="fas fa-chevron-right"></i> -->
      </div>
    </div>
  </div>
 

  <div class="container" dir="ltr">
    <div slickContainer #slickController="slick" [slickConfig]="ourProducts">
      <div *ngIf="slickController.initialize">
        <ng-container *ngFor="let product of products">
          <div slickItem>
            <img src="{{ url }}/{{product.image}}">
            <!-- -->
            <a routerLink="/product/{{product.id}}" (click)="scroll(product.id)" class="cursor-pointer">
              <h4>{{product.name}}</h4>
            </a>
          </div>
          <!-- <img slickItem *ngFor="let item of getArray(arrayLength); let index = index" src="https://placeholder.pics/svg/400/DEDEDE/555555/{{ index + 1 }}" class="p-10"> -->
        </ng-container>
      </div>
    </div>
  </div>
</section>