h2.product-title {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 23px;
}

p.product-body {
  line-height: 34px;
}
button.active.custom-btn {
  background: #970a29;
  color: #fff;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 15px;
  margin: 15px 0;
}
.slickItem img{
  width: 100%;
}