<div class="flex">
  <div class="flex flex-col w-full">
    <nav class="bg-blue-300">
      navvv
    </nav>
    <div class="bg-green-300">
      router-outlet
      <router-outlet></router-outlet>
    </div>
  </div>
  <aside class=" bg-red-400">
    <div class="container ">
      <img src="../assets/Group 25@2x.png">
      <img src="../assets/facebook-2@2x.png">
      <img src="../assets/twitter.png">
      <img src="../assets/instagram@2x.png">
      <img src="../assets/whatsapp@2x.png">
    </div>
  </aside>
</div>