<div [dir]="textDir">
    <header class="header">
        <div class="container relative">
            <div class="social-icons">
                <ul>
                    <li>
                        <a routerLink="/cart">
                            <div class="cart">
                                <span class="counter" id="counter">{{count}}</span>
                                <img src="../assets/images/Group 25@2x.png">
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.facebook.com/faihascientific" target="_blank">
                            <img src="../assets/images/facebook-2@2x.png">
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/i/flow/login" target="_blank">
                            <img src="../assets/images/twitter.png">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <img src="../assets/images/instagram@2x.png">
                        </a>
                    </li>

                    <li>
                        <a href="https://wa.me/+9627837006604/?text" target="_blank">
                            <img src="../assets/images/whatsapp@2x.png">
                        </a>
                    </li>

                </ul>
                <!-- social -->
            </div>
            <div class="container relative">
                <nav class="navbar navbar-expand-lg navbar-light bg-light customNav"
                    [ngClass]="{'dark-bg': isScrollerd}">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  mb-2 mb-lg-0">
                                <li class="nav-item ">
                                    <!-- routerLinkActive="active" -->
                                    <a class="nav-link active" routerLink="/main" [ngClass]="{'active':active == 0}"
                                        (click)="setActive(0 , 'none')">
                                        {{'Navbar.main' | translate}}</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/products" [ngClass]="{'active':active == 1}"
                                        (click)="setActive(1 , 'none')"> {{'Navbar.products_gallery' | translate}} </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " routerLink="/weare" [ngClass]="{'active':active == 2}"
                                        (click)="setActive(2 , 'about-us')">
                                        {{'Navbar.who_we_are' | translate}} </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/terms&conditions"
                                        [ngClass]="{'active':active == 3}"
                                        (click)="setActive(3 , 'terms_and_conditions')">{{'Navbar.terms_conditions' |
                                        translate}} </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/callus" [ngClass]="{'active':active == 4}"
                                        (click)="setActive(4 , 'none')">{{'Navbar.call_us' | translate}} </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link cursor-pointer" (click)="translateLanguageTo('en',1)"
                                        *ngIf="isAR">English</a>
                                    <a class="nav-link cursor-pointer" (click)="translateLanguageTo('ar',1)"
                                        *ngIf="isEn">عربي</a>
                                </li>
                            </ul>
                        </div>

                        <a class="navbar-brand" href="#">
                            <img class="navbar-logo" src="../assets/images/logo@2x.png" *ngIf="!isScrollerd">
                            <img class="navbar-logo" src="../assets/images/whitelogo@2x.png" *ngIf="isScrollerd">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    </div>
                </nav>
                <form action="" [formGroup]="searchForm">
                    <nav class="navbar customNav search-bar animate__animated " [ngClass]="{'bgCusromPink': isScrollerd , 'animate__fadeInLeft': !isSearch
                ,'animate__fadeOutLeft': isSearch}">
                        <div class="w-1/2">
                            <input type="text" placeholder="{{'search.h2' | translate}}" class="search_input"
                                formControlName="name">
                        </div>
                        <div class="">
                            <!-- routerLink="/search/thermo" -->
                            <!-- <a  (click)="navigateToProducts()">
                                 seaRCH       
                            </a> -->
                            <!-- search -->
                            <div class="">
                                <div class="search_icon " (click)="submit()">
                                    <img src="../assets/images/search.png">
                                </div>
                            </div>
                        </div>
                    </nav>
                </form>
            </div>
            <!-- nav -->
            <div class="search-form">
                <div class="relative search_icon" (click)="isSearch = !isSearch">
                    <img src="../assets/images/search.png" [ngClass]="{'block': isSearch , 'hidden': !isSearch}">
                    <img src="../assets/images/cross-small.png" [ngClass]="{'block': !isSearch , 'hidden': isSearch}">
                </div>
            </div>
            <!-- search -->
            <!-- <div class="container">
                <nav class="navbar customNav bg-[#970a29]" [ngClass]="{'bgCusromPink': isScrollerd}">
                    lima
                </nav>
            </div> -->
        </div>
    </header>

    <!-- router-outlet -->
    <div class="container mt-24">
        <div class="row flex justify-center">
            <div class="col-md-11 col-lg-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- footer -->
    <section class="footerMargin">
        <div class="footer ">
            <div class="container ">
                <div class="row">
                    <div class="col-4 foot " [ngClass]="{'line' : isAR}">
                        <div class="footer-logo">
                            <!-- alfayha'a -->
                            <img class="w-28 mb-2 " src="../assets/images/whitelogo@2x.png" alt="">
                            <!-- thermo -->
                            <!-- <img class="w-28 mb-2 " src="../assets/images/OIP.jfif" alt=""> -->
                            <img class="w-28 mb-2 " src="../assets/images/982-HwVY_400x400-removebg-preview22.png" alt="">
                        </div>
                        <div class="footerLink">
                            <a href="https://www.facebook.com/faihascientific" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://twitter.com/i/flow/login" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://wa.me/+9627837006604/?text" target="_blank">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 line foot">
                        <h2 class="text-3xl ">
                            {{'footer.links' | translate}}
                        </h2>
                        <div class="row">
                            <div class="col-6">
                                <p>
                                    <a routerLink="/terms&conditions" (click)="setActive(3 , 'terms_and_conditions')">
                                        {{'footer.terms_conditions' | translate}}
                                    </a>
                                </p>
                                <p>
                                    <a routerLink="/privacy_policy" (click)="setActive(0 , 'Privacy_Policy')">
                                        {{'footer.privacy_policy' | translate}}
                                    </a>
                                </p>
                                <p>
                                    <a routerLink="/callus" (click)="setActive(4 , 'none' )">
                                        {{'footer.call_us' | translate}}
                                    </a>
                                </p>
                                <p>
                                    <a routerLink="/weare" (click)="setActive(2, 'about-us')">
                                        {{'We_Are.h1' | translate}}
                                    </a>
                                </p>
                            </div>
                            <div class="col-6">
                                <p>
                                    <a routerLink="/products" (click)="setActive(1 , 'none')">
                                        {{'Navbar.products_gallery' | translate}}
                                    </a>
                                </p>
                                <p>
                                    <a routerLink="/bolgs" (click)="setActive(0 , 'none')">
                                        {{'footer.blogs' | translate}}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 foot " [ngClass]="{'line' : !isAR}">
                        <h2 class="text-3xl mb-6"> {{'footer.call_us' | translate }} </h2>
                        <div class="flex call">
                            <img src="../assets/images/circle-phone-flip@2x.png" alt="">
                            <p> 07837006604 - 07837006610</p>
                        </div>
                        <div class="flex call">
                            <img src="../assets/images/at-2@2x.png" alt="">
                            <p>sales@alfaihascientific.com</p>
                        </div>
                        <div class="flex call">
                            <img src="../assets/images/marker@2x.png" alt="">
                            <p> {{'footer.callUs.place' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyRight">
            <p> {{'footer.copyright' | translate}}
            </p>
        </div>
    </section>
</div>