body{
  font-family: 'Tajawal', sans-serif;
  font-family: 'Kanit', sans-serif;
}


/**header**/
header.header {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 9;
}

.social-icons {
  width: 50px;
  position: absolute;
  right: -50px;
  top: 15px;
}

.social-icons li {
  margin-bottom: 10px;
}

.search-form {
  width: 50px;
  position: absolute;
  left: -50px;
  top: 15px;
}
.customNav{
  height: 80px;
  border-radius: 26px;
  padding: 0 30px;
}

// .navbar.bg-light {
//   background: #FFF !important;
// }

.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: bold;
}

.active {
  background: #970a29;
  color: #fff !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 6px 16px;
  // margin-left: 15px;
}

@media (max-width: 1281px) {
  header.header .container {
    max-width: 1100px !important;
  }
}

@media (max-width: 1025px) {
  header.header .container {
    max-width: 870px !important;
  }
}


@media only screen and (max-width: 900px) {
  header.header {
    top: 30px;
  }

  .social-icons {
    width: auto;
    position: fixed;
    right: 25px;
    left: 85px;
    top: auto;
    bottom: 20px;
    z-index: 9;
  }

  .social-icons ul {
    display: flex;
    padding: 0;

  }

  .social-icons ul li {
    margin-left: 7px;
    margin-bottom: 0;
  }

  .social-icons ul li img {
    width: 50px;
  }

  .search-form {
    width: 50px;
    position: fixed;
    left: 25px;
    bottom: 20px;
    top: auto;
    padding-right: 5px;
  }

  .search-form::after {
    content: no-close-quote;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: -1;
  }

  .navbar-collapse {
    background: #fff;
    position: ABSOLUTE;
    top: 60px;
    left: 0;
    right: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 25px 15px 0;
    z-index: -1;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .footerMargin {
    margin-bottom: 80px;
  }

}

.nav-link{
  border-radius: 15px;
  font-size: 18px;
}

.bgCusromPink{
  background-color: #f4e8ea;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.dark-bg {
  background: #911727 !important;
}

.dark-bg a.nav-link.active {
  background: #fff;
  color: #333 !important;
}

.dark-bg a.nav-link {
  color: #fff;
}

nav,
nav * {
  transition: all 0.4s;
}

.navbar-logo {
  width: 110px;
}

@media (max-width: 768px) {
  .navbar.bg-light {
    padding: 0 6px;
  }

  .navbar-brand {
    margin-right: 0;
  }


}

.footer {
  background-color: #333333;
  display: flex;
  color: #ffffff;
  padding: 30px;
  columns: 3;
}

.line {
  border-left-color: white;
  border-left-width: 1px;
}

.copyRight {
  text-align: center;
  color: white;
  height: 60px;
  background-color: #1c1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.call img {
  width: 26px;
  margin-left: 10px;
  margin-right: 10px;
}


.cart {
  position: relative;
}

span.counter {
  position: absolute;
  background: #fff;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: CENTER;
  border-radius: 31px;
  left: 6px;
  top: 6px;
  color: #970a29;
  font-size: 12px;
  font-weight: bold;
}

.search-bar{
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
  left: 10px;
  // display: none;
  // left: -2000px;
  transition: all 1s;
}
.search-bar.showed{
  // display: block;
  left: auto;
  right: auto;
}
.footerLink a{
  margin: 10px 10px;
  font-size: 23px;
}