<!-- about-us -->
<section *ngIf="resdata1">
    <div class="row">
        <div class="col-7 header">
            <h2 class="">
                {{resdata1.title}}
            </h2>
            <!-- content -->
            <div [innerHTML]="resdata1.content">
            </div>
        </div>
        <div class="col-4 who_slider">
            <img src="../../../assets/images/logo@2x.png" alt="" class="mt-[50%]">
        </div>
    </div>
</section>
<!-- Vision -->
<section>
    <div class="whoweare">
        <div class="rec">
            <h3 class="cout">"</h3>
            <!-- <img class="absolute" src="../../../assets/“@2x.png" alt=""> -->
        </div>
        <div class="sub-h2">
            <div class="addresses mt-[-40px]">
                <img class="icon-logo" src="../../../assets/images/Group 15@2x.png" alt="">
                <h2 class="!text-4xl  text-white font-semibold"> {{resdata2.title}}</h2>
            </div>
        </div>
        <!-- content -->
        <div [innerHTML]="resdata2.content">
        </div>
    </div>
</section>
<!-- massage -->
<section>
    <div class="whoweare">
        <div class="rec">
            <h3 class="cout">"</h3>
            <!-- <img class="absolute" src="../../../assets/“@2x.png" alt=""> -->
        </div>
        <div class="sub-h2">
            <div class="addresses mt-[-40px]">
                <img class="icon-logo" src="../../../assets/images/Group 15@2x.png" alt="">
                <h2 class="!text-4xl  text-white font-semibold">
                    {{resdata3.title}}</h2>
            </div>
        </div>
        <!-- content -->
        <div [innerHTML]="resdata3.content">
        </div>
    </div>
</section>
<!-- اخبار علوم الفيحاء -->
<app-news></app-news>