<section>
    <div class="row">
        <div class="col-7 header">
            <h2>
                {{'We_Are.h1' | translate}}
            </h2>
            <p>
                شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية
                شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية
                شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية
                شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية
                شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية
                شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية
            </p>
        </div>
        <div class="col-4 who_slider">
            <img src="../../../assets/images/logo@2x.png" alt="" class="mt-[50%]">
        </div>
    </div>
</section>
<section>
    <div class="whoweare">
        <div class="rec">
            <h3 class="cout">"</h3>
            <!-- <img class="absolute" src="../../../assets/“@2x.png" alt=""> -->
        </div>
        <div class="sub-h2">
            <div class="addresses mt-[-40px]">
                <img class="icon-logo" src="../../../assets/images/Group 15@2x.png" alt="">
                <h2 class="!text-4xl  text-white font-semibold">الرؤيا</h2>
            </div>
        </div>

        <p>شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة
            علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
        </p>
    </div>
</section>
<section>
    <div class="whoweare">
        <div class="rec">
            <h3 class="cout">"</h3>
            <!-- <img class="absolute" src="../../../assets/“@2x.png" alt=""> -->
        </div>
        <div class="sub-h2">
            <div class="addresses mt-[-40px]">
                <img class="icon-logo" src="../../../assets/images/Group 15@2x.png" alt="">
                <h2 class="!text-4xl  text-white font-semibold">الرسالة</h2>
            </div>
        </div>
        <p>شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة
            علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
            الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم الفيحاء لتجارة الاجهزة الطبية والمختبرية شركة علوم
        </p>
    </div>
</section>
<!-- اخبار علوم الفيحاء -->
<app-news></app-news>