<section class="">
    <div class="" dir="ltr">
        <div slickContainer #slickController="slick" [slickConfig]="slidersSlick">
            <div *ngIf="slickController.initialize">
                <ng-container *ngFor="let slider of sliders">
                    <div slickItem>
                        <img src="{{ url }}/{{ slider.image }}" class="">
                        <div class=" content">
                            <h2>{{ slider.name }}</h2>
                            <!-- <img class="w-28 mb-2 first-line:" src="../assets/images/whitelogo@2x.png" alt=""> -->
                            <img class="w-28 mb-2 first-line:" src="../assets/images/OIP.jfif" alt="">
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>
<section *ngIf="about_us">
    <div class="whoweare">
        <div class="rec">
            <h3 class="cout">"</h3>
            <!-- <img class="absolute" src="../../../assets/“@2x.png" alt=""> -->
        </div>
        <div class="sub-h2">
            <div class="addresses mt-[-40px]">
                <img class="icon-logo" src="../../../assets/images/Group 15@2x.png" alt="">
                <h2 class="text-white font-semibold">{{about_us.title}}</h2>
            </div>
        </div>

        <!-- content -->
        <p [innerHTML]="about_us.content">

        </p>


    </div>
</section>
<section class="">
    <div class="sub-h2 mb-5">
        <div class="addresses">
            <img class="icon-logo" src="../../../assets/images/Group 19@2x.png" alt="">
            <h2>{{'Products.h1' | translate}}
            </h2>
        </div>
        <div class="more">
            <h3>
                {{'More.h2' | translate}}
            </h3>
            <div class="red_circle" (click)="navigateToProducts()">
                <i class="fas fa-chevron-left" [ngClass]="{'block': isLeft ,'hidden': !isLeft }"></i>
                <i class="fas fa-chevron-right" [ngClass]="{'block': !isLeft ,'hidden':isLeft }"></i>
            </div>
        </div>
    </div>
    <div class="container" dir="ltr">
        <div slickContainer #slickController="slick" [slickConfig]="ourProducts">
            <div *ngIf="slickController.initialize">
                <ng-container *ngFor="let product of products">
                    <div slickItem>
                        <img class="itemimg" src="{{url}}/{{ product.image }}">
                        <a routerLink="/product/{{ product.id }}">
                            <h4>{{ product.name }}</h4>
                        </a>
                    </div>
                    <!-- <img slickItem *ngFor="let item of getArray(arrayLength); let index = index" src="https://placeholder.pics/svg/400/DEDEDE/555555/{{ index + 1 }}" class="p-10"> -->
                </ng-container>
            </div>
        </div>
    </div>
</section>
<!-- اخبار علوم الفيحاء -->
<app-news></app-news>