<section>
    <div class="row main">
        <div class="col-8">
            <h1 class="head">علوم الفيحاء</h1>
            <p>لتجارة الاجهزة الطبية والمختبرية</p>
            <div class="flex items-baseline">
                <p> الوكلاء الوحيدون في العراق لـ</p>
                <img class="logo" src="../../../assets/logo-color@2x.png" alt="">
            </div>
            <div class="flex search ">
                <input type="text" placeholder="ابحث عن اسم منتج، او رقم منتج">
               
                <div class="search-img">

                    <img class="search-icon" src="../../../assets/search@2x.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-4">
            <img class="" src="../../../assets/Group 5@2x.png">
        </div>
    </div>

</section>
<section class="bg-red-300 mt-5">
    who are we 
</section>
<section class="bg-red-300 mt-5">
    <div class="flex items-center ">
        <img class="icon-logo" src="../../../assets/Group 19@2x.png" alt="">
        <h2 class="text-3xl px-3">منتجاتنا</h2>
    </div>
</section>
